<%- include('partials/head') %>
<%- include('partials/navbar') %>

  <h1>Welcome to the <%= name %> subreddit!</h1>
  <h2><%= description %></h2>
  <p><b>Subscribers:</b> <%= subscribers  %></p>
  <div class="container">
  <hr>
  <% for( let post of posts ) { %>
      <article>
          <h3><%= post.title %></h3>
          <% if (post.img) { %>
          <img src="<%= post.img %>">
          <% } %>
          <p><%= post.content %></p>
          <p><b>Author:</b> <%= post.author %></p>
      </article>
  <% } %>
</div>

<%- include('partials/footer.ejs') %>