<% layout('layouts/boilerplate') %>
<h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <!-- Form to create a new campground -->
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">

            <!-- Title input field -->
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" 
                value="<%= campground.title %>" required>
            </div>
            <!-- Location input field -->
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" 
                value="<%= campground.location %>" required>
            </div>

            <!-- Price input field -->
            <div class="mb-3">
                <label for="price" class="form-label">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" 
                    name="campground[price]" placeholder="0.00" 
                    aria-label="Price" aria-describedby="price-label"
                    value="<%= campground.price %>" required>
                </div>
            </div>
            <!-- Description textarea field -->
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" name="campground[description]" required><%= campground.description %></textarea>
            </div>
            <!-- Image -->
            <div class="mb-3">
                <label >Upload Image</label>
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Add more images...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>
            <!-- Submit button -->
            <div class="mb-3">
                <button class="btn btn-info">Update Campground</button>
            </div>
        </form>
        <!-- Back link -->
        <a href="/campgrounds/<%= campground._id %>">Back</a>
    </div>